<!DOCTYPE html>
<html>
<head>
	 <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <!-- w3school -->
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href='css/style1.css'>
    <script src="https://kit.fontawesome.com/2ee1f2fc44.js" crossorigin="anonymous"></script>
</head>
<body>
<div class="wrapper">
            <!-- Sidebar Holder -->

            <nav id="sidebar">
              <div class="float-right md-3">
                <img src="{{ asset('staf/img/Menu.png') }}" alt="">
              </div>
                <div class="sidebar-header">
                    <img src="img/judul.png">
                </div>
                <ul class="list-unstyled components">
                      <img src="img/home_logo.png" class="mr-3 ml-3">
                      <a href="index.php" style="color: black">Home</a>
                      <br>
                      <br>
                      <img src="img/absensi.png" class="mr-3 ml-3">
                      <a href="index.php" style="color: black">Absensi</a>
                      <br>
                      <br>
                      <img src="img/jadwal.png" class="mr-3 ml-3">
                      <a href="index.php" style="color: black">Jadwal Pelajaran</a>
                      <br>
                      <br>
                      <img src="img/tugas.png" class="mr-3 ml-3">
                      <a href="index.php" style="color: black">Tugas</a>
                      <br>
                      <br>
                      <img src="img/kalender.png" class="mr-3 ml-3">
                      <a href="index.php" style="color: black">Calender</a>
                      <br>
                      <br>
                      <img src="img/kelas.png" class="mr-3 ml-3">
                      <a href="index.php" style="color: black">Kelas</a>
                      <br>
                      <br>
                </ul>
            </nav>

            <!-- Page Content Holder -->
            <div class="container">
              <div id="content" class="background-siswa">
                 <!-- search box -->                  
               
                <span style="position: absolute; top: 20px; padding-left: 75%;"><p>Farras</p></span>
                <div style="clear: both;"></div>
            <!-- icon home  -->
                <div style="float: left;">
                  <h2 style="color : white; ">Home</h2>   
                </div>
                <div style="float: left;">                     
                  <img id="icon-home" src="img/home_icon.png"> 
                </div>
                  <p style="padding-top: 22px; font-size: 12px;">&nbsp;&nbsp; &nbsp;Home &nbsp; - &nbsp; Tugas Siswa</p>                               
                <div style="clear: both;"></div><br><br>

                  <!-- content dasboard -->
                  <hr>
                  <h2 style="color : white;">Semua Tugas</h2>
                  <hr>
                  <div class="row">

                    <div class="col-sm-3">
                      <div class="card">
                        <div class="card-body">
                          <h5 id="text-content" align="center" class="margin-top">KELAS 12 A</h5>                        
                          <label class="mt-0">                            
                          <h5 align="center" class="card-title">Senin, 07.15 - 08.25</h5>
                          </label>
                          <button type="button" class="btn btn-info float-right">Selanjutnya</button>
                        </div>
                      </div>
                    </div>
                    <div class="col-sm-3">
                      <div class="card">
                        <div class="card-body">
                          <h5 id="text-content" align="center" class="margin-top">KELAS 12 B</h5>                        
                          <label class="mt-0">                            
                          <h5 align="center" class="card-title">Selasa, 07.15 - 08.25</h5>
                          </label>
                          <button type="button" class="btn btn-info float-right">Selanjutnya</button>
                        </div>
                      </div>
                    </div>
                    <div class="col-sm-3">
                      <div class="card">
                        <div class="card-body">
                          <h5 id="text-content" align="center" class="margin-top">KELAS 12 C</h5>                        
                          <label class="mt-0">                            
                          <h5 align="center" class="card-title">Rabu, 07.15 - 08.25</h5>
                          </label>
                          <button type="button" class="btn btn-info float-right">Selanjutnya</button>
                        </div>
                      </div>
                    </div>
                    <div class="col-sm-3">
                      <div class="card">
                        <div class="card-body">
                          <h5 id="text-content" align="center" class="margin-top">KELAS 12 D</h5>                        
                          <label class="mt-0">                            
                          <h5 align="center" class="card-title">Kamis, 07.15 - 08.25</h5>
                          </label>
                          <button type="button" class="btn btn-info float-right">Selanjutnya</button>
                        </div>
                      </div>
                    </div>
                 </div>

                 <br>
                  <hr>
                  <h2 style="color : white;">Tugas Baru</h2>
                  <hr>
					<div class="row">
                    <div class="col-sm-3">
                      <div class="card">
                        <div class="card-body">
                          <h5 id="text-content" align="center" class="margin-top">MTK</h5>                        
                          <label class="mt-0">                            
                          <h5 align="center" class="card-title">Senin, 07.15 - 08.25</h5>
                          </label>
                          <button type="button" class="btn btn-info float-right">Cek Tugas</button>
                        </div>
                      </div>
                    </div>
                    <div class="col-sm-3">
                      <div class="card">
                        <div class="card-body">
                          <h5 id="text-content" align="center" class="margin-top">BIOLOGI</h5>                        
                          <label class="mt-0">                            
                          <h5 align="center" class="card-title">Selasa, 07.15 - 08.25</h5>
                          </label>
                          <button type="button" class="btn btn-info float-right">Cek Tugas</button>
                        </div>
                      </div>
                    </div>
                    
                 </div>                 
                  <br>


                 <hr>
                    <h2 style="color: white;">Tugas Selesai</h2>
                  <hr>
                    <div class="row">
                    <div class="col-sm-3">
                      <div class="card">
                        <div class="card-body">
                          <h5 id="text-content" align="center" class="margin-top">MTK</h5>                        
                          <label class="mt-0">                            
                          <h5 align="center" class="card-title">Senin, 07.15 - 08.25</h5>
                          </label>
                          <button type="button" class="btn btn-info float-right">Cek Tugas</button>
                        </div>
                      </div>
                    </div>
                    <div class="col-sm-3">
                      <div class="card">
                        <div class="card-body">
                          <h5 id="text-content" align="center" class="margin-top">BIOLOGI</h5>                        
                          <label class="mt-0">                            
                          <h5 align="center" class="card-title">Selasa, 07.15 - 08.25</h5>
                          </label>
                          <button type="button" class="btn btn-info float-right">Cek Tugas</button>
                        </div>
                      </div>
                    </div>
                    <div class="col-sm-3">
                      <div class="card">
                        <div class="card-body">
                          <h5 id="text-content" align="center" class="margin-top">FISIKA</h5>                        
                          <label class="mt-0">                            
                          <h5 align="center" class="card-title">Rabu, 07.15 - 08.25</h5>
                          </label>
                          <button type="button" class="btn btn-info float-right">Cek Tugas</button>
                        </div>
                      </div>
                    </div>
                    <div class="col-sm-3">
                      <div class="card">
                        <div class="card-body">
                          <h5 id="text-content" align="center" class="margin-top">KIMIA</h5>                        
                          <label class="mt-0">                            
                          <h5 align="center" class="card-title">Kamis, 07.15 - 08.25</h5>
                          </label>
                          <button type="button" class="btn btn-info float-right">Cek Tugas</button>
                        </div>
                      </div>
                    </div>
                 </div><br>



             </div>
		</div>
  </div>
    
  <!-- Optional JavaScript -->
        <!-- jQuery first, then Popper.js, then Bootstrap JS -->
        <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>

        <script type="text/javascript">
             $(document).ready(function () {
                 $('#sidebarCollapse').on('click', function () {
                     $('#sidebar').toggleClass('active');
                 });
             });
         </script>            


</body>
</html>